.game-container{
    display: flex;
    flex-direction: column;
    position: relative;
    display: none;
    /* background-image: url('pokhara.jpg'); */
    /* background-size: cover; */
}

.stats-block{
    display: flex;
    gap: 100%;
    position: absolute;
    
    /* margin-left: 20%; */
}
.stats{
    display: flex;
    min-width: 300px;
    flex-direction: column;
    gap: 3px;
    margin: 30px;
}
.stats__health-bar--player{
    background-color: gray;
    height: 50px;
    border-radius: 50px;
    width: 300px;
}
.stats__power-bar--player{
    background-color: darkred;
    height: 10px;
    border-radius: 10px;
    width: 0px;
}
.stats__health-bar--enemy{
    background-color: gray;
    height: 50px;
    border-radius: 50px;
    width: 300px;
}
.stats__power-bar--enemy{
    background-color: darkred;
    height: 10px;
    border-radius: 10px;
    width: 0px;
}

.declareWinner{
    position: absolute;
    top: 300px;
    left: 600px;
}


/* Start game screen  styling*/

.character-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .character-options {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px 0;
  }
  .character {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
  }
  .character.selected {
    border-color: #000;
  }
  .start-game {
    margin-top: 20px;
  }

  .background-options {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px 0;
  }
  .background {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
  }
  .background.selected {
    border-color: #000;
  }

  /* Screen layer */

  /* .character-selection{
    display: none;
  } */

img{
    height: 100px;
}

  .background-selection{
    display: none;
  }

  .difficuilty-selection{
    display: none;
  }

